.book {
  background-color: var(--dark-purple);
}

.fieldset {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  border: none;
}
.pleasure,
.custom{
  max-width: 980px;
  margin: 0 auto;
  margin-bottom: 40px;

}
.custom {
  column-gap: 20px;
}
.custom__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 20px;
}
.fieldset__title {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  margin-bottom: 40px;
}
.subfieldset__item {
  position: relative;
  align-content: center;
}
.subfieldset__radio {
  position: relative;
  width: 27px;
  height: 27px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 12px;
  cursor: pointer;
}
.subfieldset__radio:focus:before {
  content: '';
  position: absolute;
  width: 27px;
  height: 27px;
  border: 1px solid var(--light-purple);
}
.subfieldset__radio:focus:after {
  content: '';
  position: absolute;
  width: 27px;
  height: 27px;
  border-radius: 50%;
 
}

.subfieldset__checkbox {
  position: relative;
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 12px;
  cursor: pointer;
}
.subfieldset__checkbox:focus:after{
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--light-purple);
  
}

.halls-fieldset__label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 30px;
  line-height: 133%;
  justify-content: center;
  text-transform: uppercase;
  color: var(--black);
  background-color: var(--white);
  min-width: 250px;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
  border: 3px solid transparent;
  transition: 0.5s ease;
  transition-property: background-color, border, color;
}

.halls-fieldset__label:hover {
  transition-duration: 0.5s;
  background-color: var(--gray);
  border: 3px solid #640AA3;
}

.halls-fieldset__label:focus {
  transition-duration: 0.5s;
  background-color: var(--white);
  border: 3px solid var(--purple);
}
.halls-fieldset__label:active {
  transition-duration: 0.5s;
  background-color: var(--purple);
  border: 3px solid var(--white);
  color: var(--white);
}

.halls-fieldset__input {
  display: none;
}
.subfieldset {
 display: flex;
 flex-direction: column;
 flex-wrap: nowrap;
 gap: 20px;
 padding: 0;
 border: none;
}
.subfieldset__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  margin-bottom: 23px;
}
.subfieldset__item {
  display: block;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  
}
.halls-fieldset {
  margin-bottom: 57px;
}

.pleasure {
  margin-bottom: 60px;
}
.custom__wrapp {
  display: flex;
  flex-basis: 300px;
  flex-direction: column;
  row-gap: 20px;
  max-width: 300px;
}
.custom__wrapp_brief {
  max-width: 280px;
}
.wrapp__inner {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 22px;
  padding-top: 22px; 
}
.custom__input {
  /* width: 100%; */
  height: 56px;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  padding: 0 10px;
  max-width: 100%;
  cursor: pointer;
}
.custom__input_small {
  width: 45%;
} 
.custom__input:focus {
  background: var(--white);
  border: 2px solid var(--light-purple);
}

.custom__item {
  font-size: 14px;
  line-height: 22px;
}
.wrap__button {
  background: var(--white);
  border-radius: 10px;
  width: 300px;
  height: 60px;
  font-weight: 700;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  color: var(--purple);
  border: none;
  transition: 0.5s ease;
  transition-property: background-color, border, color;
  box-shadow: 0 0 15  var(--white);
}
.wrap__button:hover {
  transition-duration: 0.5s;
  background-color: var(--gray);
  border: 3px solid var(--purple);
}
.wrap__button:focus {
  transition-duration: 0.5s;
  background-color: var(--white);
  border: 3px solid var(--purple);
}
.wrap__button:active {
  transition-duration: 0.5s;
  background-color: var(--gray);
  border-radius: 10px;
  border: transparent;
}
.wrap {
  display: flex;
  justify-content: flex-end;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 11px;
}

@media (max-width: 1040px ){
.halls-fieldset__label {
  font-size: 20px;
  line-height: 24px;
  min-width: 180px;
}
.custom__wrapp {
  display: flex;
  flex-basis: 254px;
  flex-direction: column;
  row-gap: 10px;
  max-width: 254px;
}
.wrap__button {
  max-width: 254px;
  font-size: 18px;
  line-height: 133%;
}
}
@media (max-width: 904px) {
  .halls-fieldset {
    gap: 10px;
  }
  .halls-fieldset__label {
  font-size: 16px;
  line-height: 125%;
  min-width: 150px;
}
.halls-fieldset,
.pleasure,
.custom{
  max-width: 688px;
  margin: 0 auto;
  margin-bottom: 40px;

}
.pleasure {
  display: flex;
  flex-wrap: wrap;
  gap: 66px;

}
  .custom {
    display: flex;
    flex-direction: column;
  }
  .custom__wrapp_detais {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 688px;
    max-height: 56px;
    gap: 50px;
  }
  
  .custom__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
 
  .custom__input_num {
    max-width: 254px;
  }
  .custom__input_nam::placeholder {
    font-size: 18px;
    line-height: 28px;
  }
  .wrapp__inner {
    flex-basis: 254px;
    max-width: 254px;
    padding-top: 0;
    margin-bottom: 0;
  }
  .wrap {
  max-width: 100%; 
}
  
}
@media (max-width: 608px) {
  .section__title {
    font-size: 14px;
    line-height: 20px;
  }
  .halls-fieldset,
  .pleasure,
  .custom {
      width: 100%;
      margin: 0 auto;
      margin-bottom: 40px;
  }
  .subfieldset__item {
    font-size: 16px;
    line-height: 18px;
    
  }
  .fieldset__title {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 35px;
  }
  .halls-fieldset__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-height: 74px;
  }
  .halls-fieldset__label {
    min-width: 120px;
    height: 30px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5;  
  }
  .halls-fieldset__label {
    min-width: 120px;
    height: 30px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5; 
  }
  .halls-fieldset__input {
    padding: 0;
    
  }
  .custom__wrapper {
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 20px;

    margin: 0 auto;
  }
  .custom__wrapp_detais {
    flex-direction: column;
    max-height: 112px;
    row-gap: 10px;
    margin-bottom: 30px;
    margin: 0 auto;
  }
  .custom__input_num {
    min-height: 56px;
  }
  .custom__input_num::placeholder {
    font-size: 16px;
    line-height: 18px;
    
  }
  .custom__wrapp {
    max-height: 150px;
  }
  .wrap {
    margin: 0 auto;
    justify-content: center;
  }
  .wrap__button {
    height: 40px;
    font-size: 18px;
    line-height: 26px;
    padding: 7px 40px;
    
  }
}



